<div class="container">
    <h1> INICIO </h1><br>
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por">
        </mat-form-field>
    </div>


    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="razonSocial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmacia </th>
                <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nombreVacuna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre vacuna </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreVacuna}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cantidadVacuna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad vacunas </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadVacuna}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


</div>
<br>
<br>