<div class="container">
    <h1> USUARIO FARMACIA </h1><br>
    <div class="row">
        <div class="col-9">
            <form [formGroup]="options">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Razon social</mat-label>
                            Razon Social: {{farmacia.razonSocial}}
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Cuit</mat-label>
                            Cuit: {{farmacia.cuit}}
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Direccion</mat-label>
                            Dirección: {{farmacia.direccion}}
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Agregar vacunas</mat-label>
                        <input matInput type="text" [(ngModel)]="agregarVacunas" />
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <button mat-raised-button (click)="agregarVac()" color="primary">Agregar vacunas</button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <mat-card>
                <div class="container">
                    <div class="row">
                        <p><strong>Cantidad vacunas: {{ numeroVac }}  </strong></p>
                    </div>

                    <div class="row">
                        <button mat-raised-button (click)="descontar()" color="warn">Descontar vacuna</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>



</div>