<div class="container">
    <h1> USUARIO PAMI </h1><br>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Listado farmacias
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" style="width: 100%;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="razonSocial">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef> Dirección </th>
                        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nombreVacuna">
                        <th mat-header-cell *matHeaderCellDef> Vacuna </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreVacuna}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="cantidadVacuna">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidadVacuna}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Crear farmacia
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Razon social</mat-label>
                        <input matInput type="text" [(ngModel)]="razonSocial" />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Cuit</mat-label>
                        <input matInput [(ngModel)]="cuit" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Direccion</mat-label>
                        <input matInput [(ngModel)]="direccion" />
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="crearFarmacia()">Agregar farmacia</button>

        </mat-expansion-panel>
    </mat-accordion>


</div>